body {
    background-color: #0a4f80;
    margin-top: 50px;
    overflow: hidden;
}

#uiCanvas,
#gameCanvas {
    display: block;
    position: relative;
    /* Old skool centering... */
    left: 50%;
    margin-left: -400px;
}
