body {
    background: url(../img/mine-bg.png) repeat center top;
    font-family: Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#uiCanvas,
#gameCanvas {
    position: absolute;
    display: inline;
}

#drawCanvas {
    position: absolute;
}

#gameDiv {
    position: absolute;
    margin: 0;
    text-align: center;
    background-color: #000000;
}
